{% extends 'backend/index.html' %}
{% block title %}Admin|Customer{% endblock title %}
{% block maincontent %}
<div class="main-content">
                        <!-- Button trigger modal -->
                 <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <form class="forms-sample" action="" method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}
                                            <div class="form-group">
                                                <label for="{{customer_form.customer_name.id_for_label}}">{{customer_form.customer_name.label}}</label>
                                                {{customer_form.customer_name}}
                                                <div class="text-danger" style="font-size: 14px;">{{customer_form.customer_name.errors}}</div>
                                            </div>

                                             <div class="form-group">
                                                <label for="{{customer_form.customer_code.id_for_label}}">{{customer_form.customer_code.label}}</label>
                                                {{customer_form.customer_code}}
                                                <div class="text-danger" style="font-size: 14px;">{{customer_form.customer_code.errors}}</div>
                                            </div>

                                            <div class="form-group">
                                                <label for="{{customer_form.customer_phone.id_for_label}}">{{customer_form.customer_phone.label}}</label>
                                                {{customer_form.customer_phone}}
                                                <div class="text-danger" style="font-size: 14px;">{{customer_form.customer_phone.errors}}</div>
                                            </div>

                                            <div class="form-group">
                                                <label for="{{customer_form.customer_email.id_for_label}}">{{customer_form.customer_email.label}}</label>
                                                {{customer_form.customer_email}}
                                                <div class="text-danger" style="font-size: 14px;">{{customer_form.customer_email.errors}}</div>
                                            </div>

                                            <div class="form-group">
                                                <label for="{{customer_form.customer_account_no.id_for_label}}">{{customer_form.customer_account_no.label}}</label>
                                                {{customer_form.customer_account_no}}
                                                <div class="text-danger" style="font-size: 14px;">{{customer_form.customer_account_no.errors}}</div>
                                            </div>


                                            <div class="form-group">
                                                 <label for="{{customer_form.customer_discount.id_for_label}}">{{customer_form.customer_discount.label}}(%)</label>
                                                {{customer_form.customer_discount}}
                                                <div class="text-danger" style="font-size: 14px;">{{customer_form.customer_discount.errors}}</div>
                                            </div>



                                            <div class="form-group">
                                                <label for="{{customer_form.customer_status.id_for_label}}">{{customer_form.customer_status.label}}</label>
                                                {{customer_form.customer_status}}
                                            </div>


                                             <div class="form-group">
                                                <div>
                                                  <table class="table address">
                                                    <tr>
                                                        <th style="background: #6363b1;">Address</th>
                                                        <th>Post Office</th>
                                                        <th>Home District</th>
                                                        <th>Division</th>
                                                        <th>Village Name</th>
                                                        <th>Home Name</th>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td>
                                                            {{customer_address_form.customer_post_office}}
                                                             <div class="text-danger" style="font-size: 14px;">{{customer_address_form.customer_post_office.errors}}</div>
                                                        </td>
                                                        <td>
                                                            {{customer_address_form.customer_home_district}}
                                                            <div class="text-danger" style="font-size: 14px;">{{customer_address_form.customer_home_district.errors}}</div>
                                                        </td>
                                                        <td>
                                                            {{customer_address_form.customer_division}}
                                                            <div class="text-danger" style="font-size: 14px;">{{customer_address_form.customer_division.errors}}</div>
                                                        </td>
                                                        <td>
                                                            {{customer_address_form.customer_village_name}}
                                                            <div class="text-danger" style="font-size: 14px;">{{customer_address_form.customer_village_name.errors}}</div>
                                                        </td>
                                                        <td>
                                                            {{customer_address_form.customer_home_name}}
                                                            <div class="text-danger" style="font-size: 14px;">{{customer_address_form.customer_home_name.errors}}</div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label for="exampleCategoryName">Notify</label>
                                                <div>
                                                     <label class="custom-control custom-checkbox">
                                                    {{customer_form.customer_notify}}
                                                    <span class="custom-control-label">&nbsp;</span>
                                                </label>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label for="exampleCategoryName">Taxable</label>
                                                <div>
                                                     <label class="custom-control custom-checkbox">
                                                     {{customer_form.customer_taxable}}
                                                     <span class="custom-control-label">&nbsp;</span>
                                                </label>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="form-group">
                                                <label for="exampleCoverImage">Profile Picture</label>
                                                <input type="file" name="customer_profile_picture" id="inputFile">
                                                </div>

                                                <div class="form-group">
                                                    <label for="exampleCoverImage"></label>
                                                    <img id="image_upload_preview" {% if image %} src="{{image}}" {% else %} src="http://placehold.it/100x100" {% endif %} alt="your image" />
                                                </div>

                                                <div class="text-center">
                                                 <button type="submit" class="btn btn-success mr-2">Save</button>
                                                </div>

                                            </div>







                                          </form>
                                    </div>
                                </div>
                            </div>




                </div>
{% endblock maincontent %}