{% extends 'backend/index.html' %}
{% block title %}Admin|Supplier{% endblock title %}
{% block maincontent %}
<div class="main-content">
                        <!-- Button trigger modal -->
                 <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <form class="forms-sample" action="" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}

                                            <div class="form-group">
                                                <label for="{{supplier_form.supplier_name.id_for_label}}">{{supplier_form.supplier_name.label}}</label>
                                                {{supplier_form.supplier_name}}
                                                <div class="text-danger" style="font-size: 14px;">{{supplier_form.supplier_name.errors}}</div>
                                            </div>

                                             <div class="form-group">
                                                <label for="{{supplier_form.supplier_code.id_for_label}}">{{supplier_form.supplier_code.label}}</label>
                                                {{supplier_form.supplier_code}}
                                                <div class="text-danger" style="font-size: 14px;">{{supplier_form.supplier_code.errors}}</div>
                                            </div>

                                            <div class="form-group">
                                                <label for="{{supplier_form.supplier_phone.id_for_label}}">{{supplier_form.supplier_phone.label}}</label>
                                                {{supplier_form.supplier_phone}}
                                                <div class="text-danger" style="font-size: 14px;">{{supplier_form.supplier_phone.errors}}</div>
                                            </div>

                                            <div class="form-group">
                                               <label for="{{supplier_form.supplier_email.id_for_label}}">{{supplier_form.supplier_email.label}}</label>
                                                {{supplier_form.supplier_email}}
                                                <div class="text-danger" style="font-size: 14px;">{{supplier_form.supplier_email.errors}}</div>
                                            </div>

                                            <div class="form-group">
                                                <label for="{{supplier_form.supplier_account_no.id_for_label}}">{{supplier_form.supplier_account_no.label}}</label>
                                                {{supplier_form.supplier_account_no}}
                                                <div class="text-danger" style="font-size: 14px;">{{supplier_form.supplier_account_no.errors}}</div>
                                            </div>


                                            <div class="form-group">
                                                 <label for="{{supplier_form.supplier_status.id_for_label}}">{{supplier_form.supplier_status.label}}</label>
                                                {{supplier_form.supplier_status}}
                                                <div class="text-danger" style="font-size: 14px;">{{supplier_form.supplier_status.errors}}</div>
                                            </div>


                                             <div class="form-group">
                                                <div>
                                                  <table class="table address">
                                                    <tr>
                                                        <th style="background: #6363b1;">Address</th>
                                                        <th>Post Office</th>
                                                        <th>Home District</th>
                                                        <th>Division</th>
                                                        <th>Village Name</th>
                                                        <th>Home Name</th>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td>
                                                            {{supplier_address_form.supplier_post_office}}
                                                            <div class="text-danger" style="font-size: 14px;">{{supplier_address_form.supplier_post_office.errors}}</div>
                                                        </td>
                                                        <td>
                                                             {{supplier_address_form.supplier_home_district}}
                                                            <div class="text-danger" style="font-size: 14px;">{{supplier_address_form.supplier_home_district.errors}}</div>
                                                        </td>
                                                        <td>
                                                            {{supplier_address_form.supplier_division}}
                                                            <div class="text-danger" style="font-size: 14px;">{{supplier_address_form.supplier_division.errors}}</div>
                                                        </td>
                                                        <td>
                                                            {{supplier_address_form.supplier_village_name}}
                                                            <div class="text-danger" style="font-size: 14px;">{{supplier_address_form.supplier_village_name.errors}}</div>
                                                        </td>
                                                        <td>
                                                            {{supplier_address_form.supplier_home_name}}
                                                            <div class="text-danger" style="font-size: 14px;">{{supplier_address_form.supplier_home_name.errors}}</div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <div>
                                                  <table class="table address">
                                                    <tr>
                                                        <th style="background: #6363b1;">Education</th>
                                                        <th>Exam Name</th>
                                                        <th>Board</th>
                                                        <th>Passing Year</th>
                                                        <th>Department Name</th>
                                                        <th>Result</th>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td>
                                                            {{supplier_education_form.supplier_exam_name}}
                                                            <div class="text-danger" style="font-size: 14px;">{{supplier_education_form.supplier_exam_name.errors}}</div>
                                                        </td>
                                                        <td>
                                                            {{supplier_education_form.supplier_board_name}}
                                                            <div class="text-danger" style="font-size: 14px;">{{supplier_education_form.supplier_board_name.errors}}</div>
                                                        </td>
                                                        <td>
                                                            {{supplier_education_form.supplier_passing_year}}
                                                            <div class="text-danger" style="font-size: 14px;">{{supplier_education_form.supplier_passing_year.errors}}</div>
                                                        </td>
                                                        <td>
                                                             {{supplier_education_form.supplier_department_name}}
                                                            <div class="text-danger" style="font-size: 14px;">{{supplier_education_form.supplier_department_name.errors}}</div>
                                                        </td>
                                                        <td>
                                                             {{supplier_education_form.supplier_result}}
                                                            <div class="text-danger" style="font-size: 14px;">{{supplier_education_form.supplier_result.errors}}</div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label for="{{supplier_form.supplier_notify.id_for_label}}">{{supplier_form.supplier_notify.label}}</label>
                                                <div>
                                                     <label class="custom-control custom-checkbox">
                                                     {{supplier_form.supplier_notify}}
                                                    <span class="custom-control-label">&nbsp;</span>
                                                </label>
                                                </div>
                                            </div>


                                            <div>
                                                <div class="form-group">
                                                <label for="exampleCoverImage">Profile Picture</label>
                                                <input type="file" name="supplier_profile_picture" id="inputFile">
                                                </div>

                                                <div class="form-group">
                                                    <label for="exampleCoverImage"></label>
                                                    <img id="image_upload_preview" {% if image %} src="{{image}}" {% else %}src="http://placehold.it/100x100" {% endif %} alt="your image" />
                                                </div>
                                            </div>

                                              <div class="text-center">
                                                 <button type="submit" class="btn btn-success mr-2">Save</button>
                                              </div>
                                          </form>
                                    </div>
                                </div>
                            </div>




                </div>
{% endblock maincontent %}