{% extends 'backend/index.html' %}
{% block title %}Admin|POS{% endblock title %}
{% load staticfiles %}
{% block maincontent %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

 <div class="main-content">


 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Stock Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" style="font-size: 23px;text-align: center;">
                <input type="hidden" class="add_to_cart_product_id"  />
                <span class="stock"></span>&nbsp;Products In Stock
        </div>

        <div class="form-group">
                <label for="exampleCoverImage">Please Enter Your Quantity</label>
                <input type="text" class="form-control quantity"/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary add_to_cart"><i class="fa fa-cart-arrow-down"></i></button>
      </div>
    </div>
  </div>
</div>
                     <form action="" method="GET">
                        <div class="row">

                                <div class="col-sm-3 mb-5">
                                         <input type="search" name="search" {% if values %} value="{{values.search}}" {% endif %} data-placeholder="Type Product Code Here" class="form-control">
                                </div>
                                 <div class="col-sm-3 mb-5">
                                        <button class="btn btn-info" name="submit"><i class="fa fa-search"></i></button>
                                         {% if values.search %}
                                        <a class="btn btn-info" href="{% url 'pos' %}"><i class="fa fa-backward"></i></a>
                                        {% endif %}
                                </div>
                                 <div class="col-sm-3 mb-5" style="    margin-left: -210px;">
                                         <select type="text"  class="js-example-basic-single form-control custmer_name">
                                            <option>--SELECT A CUSTOMER --</option>
                                            <option style="color: green;">Walk On</option>
                                            {% for customer_value in customer %}
                                                <option value="{{customer_value.customer_code}}">{{customer_value.customer_name}}({{customer_value.customer_code}})</option>
                                            {% endfor %}
                                         </select>
                                </div>
                        </div>
                     </form>
                      <div class="row">

                          <div class="col-sm-9">
                            <div class="row">

                            {% for products_data in products %}
                              <div class="col-sm-3">
                                <div class="card" style="">
                                <a class="example-image-link" href="{{products_data.cover_image.url}}" data-lightbox="example-1"><img class="card-img-top" height="220px" {% if products_data.cover_image %} src="{{products_data.cover_image.url}}" {% else %} src="{% static 'admin_asset/img/auth/blank_img.png' %}"  {% endif %} onerror='this.src="{% static 'admin_asset/img/auth/blank_img.png' %}"' alt="image-1" /></a>

                                  <div class="card-body">
                                    <h5 class="card-title">{{products_data.product_name}}</h5>
                                    <p>Code    : {{products_data.product_code}}</p>
                                    <p>Company : {{products_data.product_brand_name}}</p>
                                    <p>Price   : {{products_data.product_mrp}}</p>
                                    <input type="hidden" class="product_id" value="{{products_data.pk}}">
                                    <button type="button" class="btn btn-primary cart" data-toggle="modal" data-target="#exampleModal">
                                      <i class="fa fa-cart-plus"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            {% endfor %}

                            <!--
                                    <div class="col-sm-3">
                                  <div class="card" style="">
                                  <img class="card-img-top" src="http://bk-latam-prod.s3.amazonaws.com/sites/burgerking.com.mx/files/BBQ-500X540_3.png" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">Card title</h5>

                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                      Select
                                    </button>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                  <div class="card" style="">
                                  <img class="card-img-top" src="http://bk-latam-prod.s3.amazonaws.com/sites/burgerking.com.mx/files/BBQ-500X540_3.png" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">Card title</h5>

                                   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                      Select
                                    </button>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="card" style="">
                                  <img class="card-img-top" src="http://bk-latam-prod.s3.amazonaws.com/sites/burgerking.com.mx/files/BBQ-500X540_3.png" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">Card title</h5>

                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                      Select
                                    </button>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                  <div class="card" style="">
                                  <img class="card-img-top" src="http://bk-latam-prod.s3.amazonaws.com/sites/burgerking.com.mx/files/BBQ-500X540_3.png" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">Card title</h5>

                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                      Select
                                    </button>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                  <div class="card" style="">
                                  <img class="card-img-top" src="http://bk-latam-prod.s3.amazonaws.com/sites/burgerking.com.mx/files/BBQ-500X540_3.png" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">Card title</h5>

                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                      Select
                                    </button>
                                  </div>
                                </div>
                              </div>

                              <div class="col-sm-3">
                                <div class="card" style="">
                                  <img class="card-img-top" src="http://bk-latam-prod.s3.amazonaws.com/sites/burgerking.com.mx/files/BBQ-500X540_3.png" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">Card title</h5>

                                   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                      Select
                                    </button>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                  <div class="card" style="">
                                  <img class="card-img-top" src="http://bk-latam-prod.s3.amazonaws.com/sites/burgerking.com.mx/files/BBQ-500X540_3.png" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">Card title</h5>

                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                      Select
                                    </button>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                  <div class="card" style="">
                                  <img class="card-img-top" src="http://bk-latam-prod.s3.amazonaws.com/sites/burgerking.com.mx/files/BBQ-500X540_3.png" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">Card title</h5>

                                   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                      Select
                                    </button>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="card" style="">
                                  <img class="card-img-top" src="http://bk-latam-prod.s3.amazonaws.com/sites/burgerking.com.mx/files/BBQ-500X540_3.png" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">Card title</h5>

                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                      Select
                                    </button>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                  <div class="card" style="">
                                  <img class="card-img-top" src="http://bk-latam-prod.s3.amazonaws.com/sites/burgerking.com.mx/files/BBQ-500X540_3.png" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">Card title</h5>

                                   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                      Select
                                    </button>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                  <div class="card" style="">
                                  <img class="card-img-top" src="http://bk-latam-prod.s3.amazonaws.com/sites/burgerking.com.mx/files/BBQ-500X540_3.png" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">Card title</h5>

                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                      Select
                                    </button>
                                  </div>
                                </div>
                              </div>

                            -->
                             </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="card" style="    margin-left: -8%;
    width: 320px;
    height: 63.5%;">
                                  <div class="card-body">
                                    <div>
                                        <table class="table cart_data" style="margin-left: -8%;">
                                            <tr>
                                                <th>Product Name</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Sub Total</th>
                                            </tr>

                                        {% for cart_data in cart %}

                                            <tr>

                                                <td>{{cart_data.product}}</td>
                                                <td>{{cart_data.price}}</td>
                                                <td>
                                                  <input type="number" style="width: 64px;margin-left: -12px;" value="{{cart_data.quantity}}" class="form-control quantity_update" name="">
                                                </td>
                                                <td>
                                                    <input style="width: 45px;" type="text" class="form-control" name="">
                                                </td>
                                                 <td><input type="hidden" class="cart_remove_pk" value="{{cart_data.product.pk}}"></td>
                                                <td>
                                                   <button style="margin-left: -50%;" class="remove_cart"><i class="far fa-trash-alt"></i></button>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </table>
                                    </div>

                                  </div>
                                </div>
                          </div>
                    </div>

                </div>
<script src="{% static 'admin_asset/second_dist/js/lightbox.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('.js-example-basic-single').select2();
        $(".cart").click(function() {
            $(".add_to_cart").hide();
            $(".quantity").val('');
            var csrf='{{ csrf_token }}';
            var product_id = $(this).closest("div").find(".product_id").val();
            $.ajax({
                    url:"{% url 'stock_data'  %}",
                    type:"POST",
                    data:{'product_id':product_id,'csrfmiddlewaretoken':csrf},
                    success:function(data){
                        $(".stock").html(data);
                        $(".add_to_cart_product_id").val(product_id);
                        if(parseInt(data)==0)
                        {
                            $(".stock").addClass('text-danger');
                            $(".stock").removeClass('text-success');
                        }
                        else
                        {
                             $(".stock").addClass('text-success');
                        }
                    }
            });
        });

        $(".quantity").keyup(function(){
            var quantity=$(this).val();
            var stock=$(".stock").html();
               if(parseInt(quantity)>parseInt(stock))
               {
                     swal("Sorry!", "Quantity Is Greater Than Our Stock", "error");
                      $(".add_to_cart").hide();
                      $(".quantity").val('');
               }
               else if(quantity==0)
               {
                    $(".add_to_cart").hide();
               }
               else
               {
                    $(".add_to_cart").show();
               }
        });

        $(".add_to_cart").click(function(){
            var product_id=$(".add_to_cart_product_id").val();
            var quantity=$(".quantity").val();
            var csrf='{{csrf_token}}';
            var url="{% url 'add_to_cart' %}";
            $.ajax({
                    url:url,
                    type:"POST",
                    data:{'add_to_cart_product_id':product_id,'quantity':quantity,'csrfmiddlewaretoken':csrf},
                    success:function(data){
                        if(data=="Added")
                         {
                            swal("Success!", "Product Added Into Cart", "success");
                             setTimeout(function(){
                                window.location.reload();
                            },1000);
                         }
                    }
            });

        });


        $(document).on("click",".remove_cart",function(){
                    var product_id=$(this).closest("tr").find(".cart_remove_pk").val();
                    var csrf="{{csrf_token}}";

                    $.ajax({
                            url:"{% url 'cart_remove' %}",
                            type:"POST",
                            data:{'product_id':product_id,'csrfmiddlewaretoken':csrf},
                            success:function(r){

                                if(r=="Deleted")
                                {
                                        swal("Success!", "Product Deleted From Cart", "success");
                                         setTimeout(function(){
                                            window.location.reload();
                                        },1000);
                                }
                            }
                    });
        });

        $(document).on("change keyup",".quantity_update",function(){
              var product_id=$(this).closest("tr").find(".cart_remove_pk").val();
              var update_quantity=$(this).val();
              var url="{% url 'add_to_cart' %}";
              var csrf="{{csrf_token}}";
            $.ajax({
                    url:url,
                    type:"POST",
                    data:{'add_to_cart_product_id':product_id,'update_quantity':update_quantity,'csrfmiddlewaretoken':csrf},
                    success:function(data){
                        console.log(data);
                        if(data=="Updated")
                         {
                            swal("Success!", "Product Quantity Updated ", "success");
                             setTimeout(function(){
                                window.location.reload();
                            },1000);

                         }
                    }
            });
        });



    });
</script>
{% endblock maincontent %}