{% load staticfiles %}


<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">

<link rel="stylesheet" href="{% static 'admin_asset/boot/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'admin_asset/boot/fontawesome-free/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'admin_asset/boot/icon-kit/dist/css/iconkit.min.css' %}">
<link rel="stylesheet" href="{% static 'admin_asset/boot/ionicons/dist/css/ionicons.min.css' %}">
<link rel="stylesheet" href="{% static 'admin_asset/boot/perfect-scrollbar/css/perfect-scrollbar.css' %}">
<link rel="stylesheet" href="{% static 'admin_asset/boot/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin_asset/boot/jvectormap/jquery-jvectormap.css'%}">
<link rel="stylesheet" href="{% static 'admin_asset/boot/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin_asset/boot/weather-icons/css/weather-icons.min.css' %}">
<link rel="stylesheet" href="{% static 'admin_asset/boot/c3/c3.min.css'%}">
<link rel="stylesheet" href="{% static 'admin_asset/boot/owl.carousel/dist/assets/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'admin_asset/boot/owl.carousel/dist/assets/owl.theme.default.min.css'%}">
<link rel="stylesheet" href="{% static 'admin_asset/second_dist/css/theme.min.css'%}">
<link rel="stylesheet" href="{% static 'admin_asset/second_dist/css/custom.css' %}">
<link rel="stylesheet" href="{% static 'admin_asset/second_dist/css/toastr.css' %}">
<link rel="stylesheet" href="{% static 'admin_asset/second_dist/css/lightbox.css' %}">
