{% extends 'backend/index.html' %}
{% block title %}Admin|POS{% endblock title %}
{% load staticfiles %}
{% block maincontent %}
<div class="main-content">
<style type="text/css">
.stock_success{
    float: right;
    border: 1px solid white;
    background-color: #a4ea86a8;
    height: 55px;
    width: 228px;
    text-align: center;
    font-size: 15px;
    font-family: initial;
    padding: 15px;
}
.stock_success_print{
    float: right;
    border: 1px solid white;
    height: 50px;
    width: 65px;
    text-align: center;
    font-size: 15px;
    font-family: initial;
    padding: 15px;
}
</style>
                <div style="display: inline-flex;">
                     <div class="view">DATE</div>
                     <div class="view">COMPANY NAME</div>
                     <div class="view">SUPPLIER NAME</div>
                 </div>
                 <div class="stock_success" style="display: none;"><i class="fa fa-check"></i>&nbsp;<span>Product Added Into Stock</span></div>
                 <div class="stock_success_print"><button data-toggle="modal" data-target="#exampleModal"><i class="fa fa-print"></i></button></div>
                 <!-- Modal !-->

                 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 718px;">
      <div class="modal-header">
        <div class="col-sm-8"></div>
        <div class="col-sm-4">
            <h3>Meena Bazar</h3>
            <span>Address:Kazipara,TMSS Road</span>
            <br>
            <span>Phone:018499420523</span>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <img src="{% static 'admin_asset/img/auth/barcode.png' %}" style="height: 70px;">
                <p>12345678</p>
            </div>
            <div class="col-sm-6">
            <img src="{% static 'admin_asset/img/auth/barcode.png' %}" style="height: 70px;float: right;">
            </div>
        </div>
        <hr>
       <div style="border: 1px solid #a1a8bd70;height: 30px;background-color: #a1a8bd70;text-align: center;">
            <h3 style="font-size: 15px;margin-top: 6px;color: #17615bc9;">DETAILS</h3>
        </div>
        <table>
            <tr>
                <td class="table_tr">PRODUCT NAME:</td>
                <td class="product_name"></td>
            </tr>
            <tr>
                <td class="table_tr">PRODUCT CODE:</td>
                <td class="product_code"></td>
            </tr>
            <tr>
                <td class="table_tr">PRODUCT BRAND:</td>
                <td class="product_brand"></td>
            </tr>
            <tr>
                <td class="table_tr">COST PRICE:</td>
                <td class="cost_price"></td>
            </tr>
            <tr>
                <td class="table_tr">PRODUCT MRP:</td>
                <td class="product_mrp"></td>
            </tr>
            <tr>
                <td class="table_tr">PRODUCT TAX:</td>
                <td class="product_tax"></td>
            </tr>
            <tr>
                <td class="table_tr">PRODUCT UNIT:</td>
                <td class="product_unit"></td>
            </tr>
        </table>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>




                 <div style="display: -webkit-box;">
                         <div class="form-group">
                          <div class="col-sm-2">
                            {{form.date}}
                            <div class="text-danger" style="font-size: 14px;">{{form.date.errors}}</div>
                          </div>
                        </div>
                         <div class="form-group">
                          <div class="col-sm-2">
                            {{form.company_name}}
                            <div class="text-danger" style="font-size: 14px;">{{form.date.company_name}}</div>
                          </div>
                        </div>

                      <div class="form-group">
                          <div class="col-sm-2">
                             {{form.supplier_name}}
                            <div class="text-danger" style="font-size: 14px;">{{form.date.supplier_name}}</div>
                          </div>
                        </div>
                </div>

        <div id="section_purchase" >

        <table>
          <thead>
            <tr>
              <th class="tag manage_mark_table_desgin">Date</th>
              <th id="subject_name"><span class="date_field">YY-MM-DD</span></th>
            </tr>
          </thead>

          <thead>
            <tr>
              <th class="tag manage_mark_table_desgin">Company Name</th>
              <th id="max_min_mark"><span class="company_field"></span></th>
            </tr>
          </thead>

          <thead>
            <tr>
              <th class="tag manage_mark_table_desgin">Supplier Name</th>
              <th id="total_student"><span class="supplier_field"></span></th>
            </tr>
          </thead>
      </table>
      </div>
      <div style="text-align: center;margin-left: -215px;">
        <img class="loader" src="{% static 'admin_asset/loader.gif'%}" style="height: 20px;display: none;">
      </div>
      <br>


                <div style="display: inline-flex;margin-left: 15%;">
                     <div class="view_purchase">Product Name</div>
                     <div class="view_purchase">Unit Cost</div>
                     <div class="view_purchase">Quantity</div>
                     <div class="view_purchase">Sub Total</div>
                     <div><button class="add_field_button btn btn-success"><i class="fas fa-plus-circle"></i></button></div>
                 </div>
                 <table style="margin-left: 15%;">
                    <tr>
                        <td>
                            <div class="form-group">
                          <div class="col-sm-2">

                            <select type="text" class="form-control product_name" style="width: 140px;" name="product_name[]">
                                <option value=''>--select product name --</option>
                                {% for product_data_value in product_data %}
                                    <option value="{{product_data_value.pk}}">{{product_data_value.product_name}}</option>
                                {% endfor %}
                            </select>
                          </div>
                        </div>
                        </td>
                        <td>
                            <div class="form-group">
                              <div class="col-sm-2">
                                <input type="text" readonly class="form-control unit_cost" style="width: 140px;margin-left:-8px;" name="unit_cost">
                              </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                              <div class="col-sm-2">
                                <input type="text" class="form-control quantity" style="width: 140px;margin-left:-13px;" name="quantity[]">
                              </div>
                             </div>
                        </td>
                        <td>
                             <div class="form-group">
                              <div class="col-sm-2">
                                <input type="text" readonly class="form-control sub_total" style="width: 140px;margin-left:-12px;" name="sub_total[]">
                              </div>
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="input_fields_wrap"></div>
                <div style="float: right;margin-right: 425px;" class="mt-10">
                 <table>
                  <tr>
                    <th class="view_purchase">Total</th>
                    <th class="view_purchase">Pay</th>
                    <th class="view_purchase">Due</th>
                 </tr>
                  <tr>
                    <td><input type="text"  readonly class="form-control grand_total" name="total"></td>
                    <td><input type="text" class="form-control pay" name="pay"></td>
                    <td><input type="text" readonly class="form-control due" name="due"></td>
                 </tr>
                 <tr>

                    <td class="text-center " colspan="3" rowspan="2">
                        <button class="btn btn-success mt-5 submit">Proceed</button>
                    </td>
                </tr>
                </table>
                </div>
         </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID

    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x <= max_fields){ //max input box allowed
            x++; //text box increment
        $(wrapper).append("<div style='line-height: 30px;'>\
                      <table style='margin-top: -10px;margin-left: 15%;'>\
                        <tr>\
                       <td>\
                        <select type='text' class='form-control product_name' name='product_name[]' style='margin-left: 14px;width: 142px;'>\
                        <option value=''>--select product name--</option>\
                        {% for product_data_value in product_data%}\
                            <option value='{{product_data_value.pk}}'>{{product_data_value.product_name}}</option>\
                        {% endfor %}\
                        </select>\
                      </td>\
                      <td>\
                        <input type='text' readonly class='form-control unit_cost' name='unit_cost' style='margin-left: 20px;width: 142px;'/>\
                      </td>\
                      <td>\
                        <input type='text' class='form-control quantity' name='quantity[]' style='margin-left: 16px;width: 142px;'/>\
                      </td>\
                      <td>\
                        <input type='text' readonly class='form-control sub_total' name='sub_total[]' style='margin-left: 20px;width: 142px;'/>\
                      </td>\
                      </tr>\
                     <button class='btn btn-danger remove_field' style='width: 40px;margin-left: 855px;margin-bottom: -28px;'><i class=\"far fa-trash-alt\"></i></button>\
                     </table>\</div>"); //add input box
        }
        else
        {
                swal("Sorry!", "Only 10 Fields Allowed!", "error");
        }

    });

    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
        $(".grand_total").val('');
        $(".pay").val('');
        $(".due").val('');
        total();
    })
});
</script>

<script>
$(document).ready(function(){
    $(".datepicker").attr('type','date');
    $(".datepicker").change(function(){
        var date=$(this).val();
        $(".date_field").html(date)
    });

    $("#id_company_name").change(function() {
        var company_name=$(this).find(":selected").text();
        $(".company_field").html(company_name);
    });

     $("#id_supplier_name").change(function() {
        var supplier_name=$(this).find(":selected").text();
        $(".supplier_field").html(supplier_name);
    });

     $(document).on("change",".product_name",function(){
            var product_id=$(this).val();
            csrf='{{ csrf_token }}';
            var row=$(this).closest("tr");
            $.ajax({
                    url:"{% url 'product_data_get' %}",
                    type:'POST',
                    data:{'product_id':product_id,'csrfmiddlewaretoken':csrf},
                    success:function(data){
                        row.find(".unit_cost").val(data[0].fields.product_mrp);
                        row.find("input[name='unit_cost']").val(data[0].fields.product_mrp)
                        //$(".unit_cost").val(data[0].fields.product_mrp);
                    }
            });


     });

        $(document).on('keyup','.quantity',function(){
              var price_row = $(this).closest("tr").find(".unit_cost");
              var price=parseInt(price_row.val());
              var quantity=parseInt($(this).val());
              var subtotal=parseInt(price*quantity);
              $(this).closest("tr").find(".sub_total").val(subtotal);
              var total=0;
               $(".sub_total").each(function() {
                  var value=parseInt($(this).val());
                  if(isNaN(value)){
                     swal("Sorry!", "Check Your Input", "error");
                  }
                  else
                  {
                      total=parseInt(total+value);
                      $(".grand_total").val(total);
                      $(".pay").val('');
                  }
            });
        });


        $(document).on("keydown",".quantity,.pay",function(e){
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
            }
            });

        $(".pay").keyup(function(){
            var grand_total=$(".grand_total").val();
            var pay=$(this).val();
            if(parseInt(pay)>parseInt(grand_total))
            {
                swal("Sorry!", "Pay Is Greater Than Total", "error");
                $(this).val('');
                $(".due").val('');
            }
            else
            {
                var due=parseInt(grand_total)-parseInt(pay);
                $(".due").val(parseInt(due));
            }


        });

   $(".submit").click(function(){
    var date=$(".datepicker").val();
    var company_name=$(".company_name").val();
    var supplier_name=$(".supplier_name").val();
    var grand_total=$('.grand_total').val();
    var payment=$(".pay").val();
    var product_name=[];
    var quantity=[];
    var csrf='{{ csrf_token }}';
     $('.product_name').each(function(){
         value=$(this).val();
         if (value!='')
         {
                product_name.push(value);
         }

     });
     $('.quantity').each(function(){
         quantity.push(parseInt($(this).val()));
     });
     if(date=='')
     {
         swal("Error!", "Please Put Date", "error");
     }
     else if(company_name=='')
     {
        swal("Error!", "Please Select Comany Name", "error");
     }
     else if(supplier_name=='')
     {
        swal("Error!", "Please Select Supplier Name", "error");
     }
     else if(product_name == '')
     {
        swal("Error!", "Please Select Product Name", "error");
     }
     else if(quantity == '')
     {
        swal("Error!", "Please Select Quantity Name", "error");
     }
     else if(payment == '')
     {
        swal("Error!", "Please Select Payment", "error");
     }
     else
     {
        $(".loader").show();
          setTimeout(function(){
        $.ajax({
            url:"{% url 'purchase' %}",
            type:"POST",
            data:{'date':date,'company_name':company_name,'supplier_name':supplier_name,'product_name':product_name,'quantity':quantity,'total':grand_total,'pay':payment,'csrfmiddlewaretoken':csrf},
            success:function(data) {
              console.log(data);
                  if(data=="DataSaved")
                  {
                        $(".datepicker").val('');
                        $(".company_name").val('');
                        $(".supplier_name").val('');
                        $(".date_field").html('');
                        $(".company_field").html('');
                        $(".supplier_field").html('');
                        $(".product_name").val('');
                        $(".unit_cost").val('');
                        $(".sub_total").val('');
                        $(".quantity").val('');
                        $(".grand_total").val('');
                        $(".due").val('');
                        $(".pay").val('');
                        $(".loader").hide("slow");
                        $(".stock_success").show();
                        $(".stock_success_print").show();
                        setTimeout(function(){
                             $(".stock_success").hide();
                        },1000);
                  }
            }
         });
        }, 3000);
     }


  });



});

function total()
{
    var total=0;
   $(".sub_total").each(function() {
      var value=parseInt($(this).val());
      if(isNaN(value)){
         swal("Sorry!", "Check Your Input", "error");
      }
      else
      {
          total=parseInt(total+value);
          $(".grand_total").val(total);
          $(".pay").val('');
      }
    });
}
</script>

{% endblock maincontent %}